atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
dominate==2.3.5
Flask==1.0.2
Flask-WTF==0.14.2
googlemaps==3.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mediawiki-parser==0.4.1
more-itertools==4.3.0
pijnu==20160727
pluggy==0.8.0
py==1.7.0
py3compat==0.4
pytest==4.0.0
python-dotenv==0.10.0
requests==2.20.0
six==1.11.0
urllib3==1.24.1
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.2.1
