.container {
    padding: 0;
}
.col-12 {
    padding: 0;
}

/*Chatbot*/
#chat_box {
    height: 250px;
    margin: 100px 0 50px 0;
    padding: 0 0 0 0;
    border-top: medium;
    overflow: auto;
}

#msg_history {
}


/*Incoming message*/
.incoming_msg {
    margin: 26px 10px 26px;
}


.received_message {
    width: auto;
    max-width: 80%;
}

.received_message p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 12px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 10px;
    width: 100%;
    word-wrap: break-word;
}

.wikipedia_link_msg {
    font-size: small;
    margin-left: 12px;
}


/*Outgoing message*/
.outgoing_msg {
    overflow: hidden;
    margin: 26px 10px 26px;
}

.sent_msg {
    float: right;
    width: auto;
    max-width: 80%;
}

.sent_msg p {
    background: #aadaff none repeat scroll 0 0;
    border-radius: 12px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 10px;
    width: 100%;
    word-wrap: break-word;
}


/*Input section*/
#request_input {
    border-top: 1px solid #c4c4c4;
    margin: 10px 0 30px 0;
    position: relative;
}

#request_input_form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

#request_send_button {
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 34px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 34px;
    background: #aadaff none repeat scroll 0 0;
    background-image: url(../img/send_button.png);
    background-size: 22px;
    background-position-x: 5px;
    background-position-y: 6px;
    background-repeat: no-repeat;
}


/*Google map style*/
#gmap {
    height: 250px;
    border-radius: 15px;
    padding: 0 15px 0 15px;
}

#main_title {
    padding: 5px;
    text-align: center;
    font-family: CaviarDreams, Arial, sans-serif;
    background-color: #ebebeb;
}


/*footer style*/
#about {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    font-family: CaviarDreams, Arial, sans-serif;
    background-color: #ebebeb;
}

#about_content {
    padding-left: 10px;
}

#about_placeholder {
    width: 100%;
    height: 130px;
}

.footer_logos {
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


@font-face {
    font-family: "CaviarDreams";
    src: url("../fonts/CaviarDreams.ttf");
}