<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GrandPyBot</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <h1>GrandPyBot</h1>
  <div id="mapid"></div>
  <form id="search_request" action="">
    <input type="text" id="search_input"/>
    <input type="submit" action="Submit">
  </form>
    <h2 id="display_name"></h2>
  <p id="wiki_definition"></p>


  <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPRJOkFSSGVNTOGiweoXQHX4fybc4veDs"></script>
  <script type="text/javascript" src="../static/js/init_gmap.js"></script>
  <script type="text/javascript" src="../static/js/gmap.js"></script>
</body>
</html>